<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login Here</h1>
    <form action="/login" method="POST">
      Username <input type="text" name="username" value="">
      Submit <input type="submit" name="" value="Login!">
    </form>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
      <ul class='flashes'>
        {%for message in messages%}
          <li>{{message}}</li>
        {%endfor%}
      </ul>
    {%endif%}
    {%endwith%}
  </body>
</html>
